# Principal Component Analysis

## Libraries

In [47]:
# Libraries to handle data
import numpy as np
import pandas as pd
from scripts import data_wrangling as dw

In [48]:
# Magic commands
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Dataset

Since PCA is only applied to numerical variables, we must filter categorical variables from the dataset to properly perform this method. The class `Dataset` in the Python script `scripts/data_wrangling.py` attends to this task.

In [64]:
# Dataset object from the script data_wrangling
dataset = dw.Dataset()

mat = dataset.get_df(subject = 'mat', variables = 'numerical')
pot = dataset.get_df(subject = 'por', variables = 'numerical')

display(mat)
display(pot)

      age  failures  absences    G1    G2    G3
0    18.0       0.0       6.0   5.0   6.0   6.0
1    17.0       0.0       4.0   5.0   5.0   6.0
2    15.0       3.0      10.0   7.0   8.0  10.0
3    15.0       0.0       2.0  15.0  14.0  15.0
4    16.0       0.0       4.0   6.0  10.0  10.0
..    ...       ...       ...   ...   ...   ...
390  20.0       2.0      11.0   9.0   9.0   9.0
391  17.0       0.0       3.0  14.0  16.0  16.0
392  21.0       3.0       3.0  10.0   8.0   7.0
393  18.0       0.0       0.0  11.0  12.0  10.0
394  19.0       0.0       5.0   8.0   9.0   9.0

[395 rows x 6 columns]

      age  failures  absences    G1    G2    G3
0    18.0       0.0       4.0   0.0  11.0  11.0
1    17.0       0.0       2.0   9.0  11.0  11.0
2    15.0       0.0       6.0  12.0  13.0  12.0
3    15.0       0.0       0.0  14.0  14.0  14.0
4    16.0       0.0       0.0  11.0  13.0  13.0
..    ...       ...       ...   ...   ...   ...
644  19.0       1.0       4.0  10.0  11.0  10.0
645  18.0       0.0       4.0  15.0  15.0  16.0
646  18.0       0.0       6.0  11.0  12.0   9.0
647  17.0       0.0       6.0  10.0  10.0  10.0
648  18.0       0.0       4.0  10.0  11.0  11.0

[649 rows x 6 columns]